<html>
  <head>
    <title>Jasmine Spec Runner</title>
    <%= stylesheet_link_tag  "jasmine" %>
    <%= stylesheet_link_tag  "spec" %>
    <%= javascript_include_tag "jasminerice" %>
    <%= javascript_include_tag "spec" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render_templates :views => "home" %>
  </body>
</html>